.banner {
  max-width: 850px;
}

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.bullet {
  padding: 20px;
}

p.footer {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #b0b0b0;
  text-align: center;
}

.ui.grid.page {
  min-height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.ui.grid.download.page {
  min-height: 50%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.ui.grid.item {
  padding: 10px;
}

.ui.medium.screenshot.image {
  width: 350px;
  height: auto;
}

.ui.tiny.image.more {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ui.header.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 45px;
  color: #666666;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  color: #666666;
}

p.summary {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: #666666;
}

.ui.header.section.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: black;
}

.ui.header.item.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 26px;
  color: black;
}

.masthead.segment {
  min-height: 700px;
  padding: 1em 0em;
}
.masthead .logo.item img {
  margin-right: 1em;
}
.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}
.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}
.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.ui.vertical.stripe {
  padding: 8em 0em;
}
.ui.vertical.stripe h3 {
  font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
  clear: both;
}
.ui.vertical.stripe p {
  font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 0em;
}
.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.ui.footer.segment {
  padding: 4em 4em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }
  .secondary.pointing.menu .item,
  .secondary.pointing.menu .menu {
    display: none;
  }
  .secondary.pointing.menu .toc.item {
    display: block;
  }
  .masthead.segment {
    min-height: 350px;
  }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em;
  }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
}
